body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: #FFCC99;
    font-family: Arial;
}




header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 16%;
}
#H1{
    display: flex;
    height: 100%;
    width: 60%;
    background-color: white;
}
#H2{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    background-color: #B7B7B7;
}
a{
    display: flex;
    height: 35px;
    width: 250px;
    background-color:  rgba(80, 80, 80, 0.568)
}
#H3{
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;
    
   
}
#H4{
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
    align-items: center;
    
}
#kw1, #kw3{
    display: flex;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    text-decoration: none;
    font-size: 27px;
}
#kw2, #kw4{
    display: flex;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    text-decoration: none;
    font-size: 27px;
}
#kw1:hover{
    border: 5px solid black;
}
#kw2:hover{
    border: 5px solid black;
}
#kw3:hover{
    border: 5px solid black;
}
#kw4:hover{
    border: 5px solid black;
}



main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 84%;
    background-color: #0A6446;
}
#ML{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}
#ML2{
    display: flex;
    height: 90%;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer{
    display: flex;
    width: 100%;
    height: 10%;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: #3CA666;
}

aside{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
}
#MP{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    border-top-left-radius: 40px;
    flex-direction: column;
    align-items: center;
}
#autko{
    display: flex;
    width: 500px;
    height: 400px;
}
