body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: Helventica;
}
header{
    display: flex;
    height: 15%;
    width: 100%;
    background-color: #415A77;
}



main{
    display: flex;
    flex-direction: row;
    height: 70%;
    width: 100%;
}
section{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    background-color: #778DA9;
    justify-content: center;
    align-items: center;
}
#sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

#zawartosc{
    display: flex;
    margin-right: 280px;
}
#tekst{
    width: 100%;
}
#rozmiar{
    display: flex;
    margin-right: 230px;
}

#kolorek{
    display: flex;
    margin-right: 240px;
}

#tlo, #wysokosc, #szerokosc, #kolor, #numer, #tekst{
    width: 100%;
}

#tloek{
    margin-right: 280px;
}
#wyso{
    margin-right: 210px;
}
#szero{
    margin-right: 210px;
}







#przycisk{
    display: flex;
    background-color: #1B263B;
    width: 170px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
}

aside{
    display: flex;
    height: 100%;
    width: 70%;
    background-color: #E0E1DD;
    align-items: center;
    justify-content: center;
}
footer{
    display: flex;
    height: 15%;
    width: 100%;
    background-color: #415A77;
}
