body{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    margin: 0;
    font-family: Arial;
    font-size: 30px;
}
header{
    display: flex;
    width: 100%;
    height: 10%;
    background-color: #495F75;
    color: #DCD7D5;
    align-items: center;
    padding-left: 25px;
}
main{
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;

}
form{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    background-color: #DCD7D5;
}
article{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
}
#s1{
    display: flex;
    height: 15%;
    width: 100%;
    background-color: #D28140;
    align-items: center;
    color: #DCD7D5;
    padding-left: 25px;
}
#s2{
    display: flex;
    flex-direction: row;
    height: 85%;
    width: 100%;
    background-color: #E6CDAE;
}
#s3{
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    font-size: 22px;
    padding-left: 25px;
    align-items: center;
    gap: 10px;
}
#s4{
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    font-size: 22px;
}
footer{
    display: flex;
    height: 10%;
    width: 100%;
    background-color: #495F75;
    color: #DCD7D5;
    align-items: center;
    justify-content: center;
}


*{
    box-sizing: border-box;
}