*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    font-family: 'Trebuchet MS';
}
header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 12%;
    background-color: #f07167;
    color: #fdfcdc;
}
#G1{
    display: flex;
    height: 100%;
    align-items: center;
    
}
nav{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.aa{
    display: flex;
    height: 100%;
    width: 150px;
    align-items: center;
    justify-content: center;
    border-right: solid 1px #fdfcdc;
    font-size: 20px;
    text-decoration: none;
    color: #fdfcdc;
}
.aa:last-of-type{
    border-right: none;
} 
main{
    display: flex;
    width: 100%;
    height: 76%;
    flex-direction: row;
}
article{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 75%;
    background-color: #fed9b7;
    align-items: center;
    justify-content: center;
}
p{
    display: flex;
    justify-content: center;
    padding: 20px;
}
aside{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    background-color: #fdfcdc;
    justify-content: center;
    align-items: center;
    
}
form{
    display: flex;
    flex-direction: column;
}
button{
    display: flex;
    margin-top: 20px;
    width: 150px;
    height: 40px;
    align-items: center;
    justify-content: center;
}
footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 12%;
    background-color: #f07167;
    justify-content: center;
    align-items: center;
    color: #fdfcdc;
}
.czerwony{
    color: red;
}
.zielony{
    color: greenyellow;
}