*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
main{
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 100%;
}
aside{
    display: flex;
    height: 100%;
    width: 30%;
    flex-direction: column;
    background-color: #f6bd60;
    font-size: 20px;
    
}
button{
    width: 150px;
}
#dane{
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
#kalk{
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    text-indent: -30px;
}





article{
    display: flex;
    height: 100%;
    width: 70%;
    flex-direction: column;
    background-color: #f5cac3;
}
footer{
    display: flex;
    height: 10%;
    width: 100%;
    background-color: #f28482;
    color: white;
    justify-content: space-between;
}
form{
    display: flex;
    height: 100%;
    width: 25%;
    justify-content: center;
    align-items: center;
}
.fut{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 35%;
    height: 100%;
}