@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Gaegu&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}
main{
    display: flex;
    height: 85%;
    width: 100%;
}
#Lewo{
    display: flex;
    height: 100%;
    width: 20%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
nav{
    display: flex;
    height: 80%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-family: "Gaegu";
    font-size: 60px;

}
nav > a{
    color: #FFC10D;
    text-shadow:
    -1px -1px black,
    1px -1px black,
    -1px 1px black,
    1px 1px black; 

}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #194F82;
}
#Prawo{
    display: flex;
    height: 100%;
    width: 80%;
    flex-direction: column;
}
#main2{
    display: flex;
    height: 85%;
    width: 100%;
    flex-direction: row;
}
#L1{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    font-family: "Fuzzy bubbles";
    font-size: 23px;
    gap: 20px;
}
li:nth-child(even){
    background-color: #FFC10D;
}
li{
    list-style-position: inside;
    padding-left: 10px;
    font-size: 30px;
}
header{
    display: flex;
    height: 15%;
    width: 100%;
    background-color: #194F82;
    border-bottom-left-radius: 15px;
    align-items: center;
    font-family: "Fuzzy bubbles";
    color: white;
}
#logo{
    height: 60px;
    width: 60px;
    margin-left: 10px;
}

footer{
    display: flex;
    height: 15%;
    width: 100%;

}
#autor{
    display: flex;
    height: 100%;
    width: 20%;
    align-items: center;
    justify-content: center;
    background-color: #194F82;
    color: white;
    font-family: "Fuzzy bubbles";
    font-size: 30px;
}
#pasek{
    display: flex;
    height: 100%;
    width: 80%;
    background-color: #FFC10D;
    overflow-x: auto;
    align-items: center;
    font-family: "Fuzzy bubbles";
    font-size: 40px;
    
}

#oferta1{
    display: flex;
    max-width: 440px;
    max-height: 200px;
    border-radius: 10px;
    align-items: center;
    background-color: burlywood;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
}
#oferta1:nth-child(2){
    background-color: rgb(255, 132, 0);
}
#oferta1:nth-child(3){
    background-color: rgb(192, 255, 255);
}
#oferta1:nth-child(4){
    background-color: #194F82;
}
#oferta1:nth-child(5){
    background-color: #42d787;
}
#oferta1:nth-child(6){
    background-color: #fffb00;
}
#oferta1:nth-child(7){
    background-color: #c69dff;
}
#oferta11{
    display: flex;
    height: 100%;
    width: 20%;
    flex-direction: column;

}
#oferta1 > img{
    display: flex;
    height: 150px;
    width: 230px;
}



#P1{
    display: flex;
    height: 100%;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
#PP1{
    display: flex;
    height: 19%;
    width: 95%;
    background-color: #194F82;
    border-radius: 10px;
}
#PT{
    display: flex;
    height: 98%;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Fuzzy bubbles";
    color: #FFC10D;
}
#PP2{
    display: flex;
    height: 59%;
    width: 95%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Fuzzy bubbles";
    gap: 10px;
}

#PP3{
    display: flex;
    height: 10%;
    width: 100%;
    flex-direction: row;
}
#PPP3{
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    font-size: 50px;
}
#PPP32{
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
}
#Mwycieczki{
    display: flex;
    height: 90%;
    width: 90%;
    background-color: #194F82;
    font-family: "fuzzy bubbles";
    font-size: 25px;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    border-radius: 5px;
    border: 0;
}
#PP31{
    display: flex;
    height: 10%;
    width: 100%;
    flex-direction: row;
}
#PP312{
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    font-size: 50px;
}
#PP313{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 50px;
}
#numer{
    display: flex;
    background-color: #194F82;
    width: 40%;
    height: 100%;
    border-radius: 5px;
    border: 0;
    font-family: "fuzzy bubbles";
    color: white;
    font-size: 20px;
    text-align: center;
}
#numer2{
    display: flex;
    background-color: #194F82;
    width: 40%;
    height: 100%;
    border-radius: 5px;
    border: 0;
    font-family: "fuzzy bubbles";
    color: white;
    font-size: 20px;
    text-align: center;
}
#PP32{
    display: flex;
    height: 10%;
    width: 100%;
    flex-direction: row;
}
#PP321{
    display: flex;
    height: 100%;
    width: 50%;
    font-size: 50px;
}
#PP323{
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0;
}
#data{
    display: flex;
    background-color: #194F82;
    height: 95%;
    width: 90%;
    border-radius: 5px;
    font-family: "fuzzy bubbles";
    font-size: 25px;
    text-align: center;
    color: white;
    border: 0;
}
#PP33{
    display: flex;
    height: 70%;
    width: 100%;
    flex-direction: row;
}
#PP331{
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    font-size: 50px;
}
#PP332{
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    
}
#kw1{
    display: flex;
    height: 90%;
    width: 90%;
    background-color: #FFC10D;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#kw1 > label{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 32%;
    font-size: 50px;
    
}
#czekboksy > input{
display: flex;
height: 60%;
width: 15%;
}
#doll{
    display: flex;
    height: 10%;
    width: 90%;
    justify-content: flex-end;
    align-items: center;

}
#przycisk{
    display: flex;
    width: 30%;
    height: 75%;
    background-color: #FFC10D;
    color: #194F82;
    border-radius: 10px;
    align-items: center;
    font-family: "fuzzy bubbles";
    font-size: 30px;
    border: 0;
    font-weight: 800;
}
#przycisk:hover{
    border: solid 5px black;
}
#Ld{
    height: 30%;
    width: 100%;
    flex-direction: row;
}