* {
	font-family: 'Helvetica';
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
header {
    display: flex;
	background-color: SaddleBrown;
	color: white;
    text-align: center;
    height: 10%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
a{
    display: flex;
    text-decoration: none;
    color: rgb(165, 165, 165);
    font-size: 30px;
}
a:hover{
    color: white;
    cursor: pointer;
}
main{
    display: flex;
    background-color: peru;
    height: 80%;
    width: 100%;
}
#SL{
  display: flex;
  height: 100%;
  width: 80%;
  flex-direction: column;
  overflow-y: auto;
}
#SG{
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    text-decoration: none;
    
}
#SD{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    background-color: white;
}


footer{
    background-color: SaddleBrown;
	color: white;
    text-align: center;
    height: 10%;
    width: 100%;
}
img{
    margin: 10px;
    height: 300px;
    float: left;
}
aside{
    color: white;
    
}